@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
#black {
  background-color: black;
}
.logo {
  width: 75px;
  height: 75px;
}
#logoRight {
  float: right;
  margin: 25px;
}

#logoLeft {
  float:left;
  margin: 25px;
}


.marginal-background {
  background-color: #ed65c4;
  height: 100vh;
  display:block;
}

.button-margin {
  margin-left: 10px;
  background-color:  #ed65c4;
}
#filtered{
    opacity: 20%;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:linear-gradient(purple, yellow) ; /* Black background with opacity /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    pointer-events: none;
  }
.margin {
  margin-left: 10% !important;
}
.vibe {
    margin: 0;
    padding: auto;
    text-align: left
}
.centerDiv {
 position: absolute !important;

 width: 20% !important;
 height: 100px !important;

}
.position-tabs2 {
  position:absolute;
  left: 300px;
}
@media (max-width: 768px) {
  .position-tabs2 {
    position:absolute;
    left: 30px;
  }

}
/* good code here*/
@media (max-width: 438px) {
  .position-tabs2 {
    width: 20px;
    position:absolute;
    right: 700px;
  }

}
.position-tabs {
  position:absolute;
  left: 300px;
}
@media (max-width: 768px) {
  .position-tabs {
    position:absolute;
    left: 30px;
  }

}
@media (max-width: 438px) {
  .position-tabs {
    width: 20px;
    position:absolute;
    left: 0px;
    margin-left: 0px;
  }

}

.link {
  text-decoration: none;
  color: black;
}
.aesthetic-windows-95-tabbed-container-tabs-button:hover {
  background: linear-gradient(#89DAFF, #DBB1BC) !important;
}
@media (max-width: 400px) {
  .body {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    max-width: 1200px;
    min width: 500px;
    width:100%;
    object-position: center;
  }
}/* to here */
.body {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  max-width: 1200px;
  min width: 700px;
  width:100%;
  object-position: center;
}
.containers {
  display:grid;
  grid-gap: 5px;
}
#spacer {
  width: 1000px;
}
#playButtons1 {
  float:left;
  height: 300px;
  width: 300px;
  margin: 10px;
  margin-left: 20px;
  margin-top: 100px;
}
@media (max-width: 400px) {
  #playButtons1 {
    float:left;
    height: 200px;
    width: auto;
    margin: 0px auto;
    display: block;

  }
}
#cloud {
  height: 300px;
  width: auto;
  margin: 5px;
  margin-bottom: 50%;
  display: block;
  margin-left: 6vw;
  top: 270px;
  right: 0px;
}
@media (max-width: 700px) {
  #cloud {
    height: 200px;
    width: auto;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 50%;
    display: block;
    margin-left: 6vw;
    top: 260px;
    right: 0px;
  }

}
/*
@media (max-width: 1000px) {
  #playButtons2 {
    position: static;
    background-position: center;
    margin-top: 400px auto;
    display: block;

  }
}
*/
#playButtons2 {
  float:right;
  height: 600px;
  width: auto;
  display: block;
  margin-left: 20vw;
  top: 400px;
  right: 300px;
}
.sizeOfSaying {
  position: absolute;
  right: 800px;
  text-align: center;
  margin-left: 75%;
  margin-top: 10%;
  float:left;
  height: 50px;
  width: 20%;

}
@media (max-width: 1500px) {
    .sizeOfSaying {
        display: none !important;
  }
}
.ref {
   touch-action: none;
}

.volume {
  max-width: 250px;
  min-width: 199px;
  margin-left: 40%;
  margin-top: 75px;
}
#styleVolume {
  color: #fafafafa;
  object-position:center;
  width: 100px;
}

.changeText:hover {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  background-image: linear-gradient(to left, #fafafafa, #92B5F3ff, #BA898Dff, #92B5F3ff); }

.title {
  margin-top: 5%;
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
}
@media (max-width: 640px) {
    .title {
        font-size: 1.5em;
  }
}

#hide-image {
  width: 25em;
  display: none;
  position: absolute;
  top: 300px;
  touch-action: none;
  user-select: none;
}

#minimize {
  display: none;
  padding: 30px;
}

.container-sm {
  max-width: 700px !important;
}
#appendMe {
  width: 200px;
  position: absolute;
  bottom: 200px;
  right: 300px;
  display: none;
}
@media (max-width: 600px) {
  #appendMe {
    width: 200px;
    position: absolute;
    top: 400px;
    right: 150px;
    display: none;
  }
}
